@charset "EUC-KR";

.align-right{
	text-align:right;
	
}

.tab{
    width:200px;
    height:auto;
    overflow:hidden;
}
 
.tab ul{
    padding:0;
    margin:0;
    list-style:none;
    width:100%;
    height:auto;
    overflow:hidden;
}
 
.tab ul li{
    display:inline-block;
    width:33.3333%;
    line-height:40px;
    text-align:center;
    cursor:pointer;
}
 
.tab ul li:hover,
.tab ul li.on{
    background:#ccc;
}

